:root {
  --color-primary-white: #fff;
  --color-primary-dark: #030718;
  --color-secondary-q: #57e1ff;
  --color-secondary-light: #e7f7f8;
  --color-secondary-dark: #201a4f;
  --color-third-dark: #000;
  --color-third-purple: #6a54ff;
  --color-third-light: #4a3bb3;
  --color-third-background: #eaeff0;
  --color-third-pagination: #434f70;
}

$bp-mobile: 484px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
