.faq-spoller {
  background-color: var(--color-secondary-light);
  padding: 16px;
  margin-bottom: 12px;
  border-radius: 4px;
  transition: background-color 0.2s;

  h2 {
    margin-bottom: 0;
  }

  &.active {
    background-color: var(--color-third-purple);
  }

  &__question {
    color: var(--color-primary-dark);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.33;
    letter-spacing: -0.96px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    border: none;
    text-align: left;
    gap: 16px;

    &.active {
      color: var(--color-primary-light);
    }

    @media screen and (min-width: $bp-tablet) {
      font-size: 24px;
    }
  }

  &__arrow {
    width: 24px;
    height: 24px;
  }

  &__arrow svg {
    fill: var(--color-primary-dark);
    transform: rotate(-90deg);
    transition: transform, 0.2s;
  }

  &__question.active &__arrow svg {
    fill: var(--color-primary-white);
    transform: rotate(90deg);
  }

  &__text {
    line-height: 1.25;
    opacity: 0.8;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms;

    p:first-of-type {
      margin-top: 12px;
    }

    p:last-of-type {
      margin-bottom: 0;
    }

    &[aria-hidden='true'] {
      grid-template-rows: 1fr;
    }

    div {
      overflow: hidden;
    }
  }
}
